@import "helper";

$defaultFont: Arial;
$defaultTextColor: #000000;

$smallFontSize: 12px;
$mediumFontSize: 18px;
$tallFontSize: 32px;
$bigFontSize: 48px;

$standardMargin: 20px;

$defaultFontSize: $mediumFontSize;

$columnLeftWidth: 400px;

$lightBackgroundColor: #e0e0e0;

$columnLeftBackgroundColor: $lightBackgroundColor;
